body {
   font-family: "Courier New", Courier, monospace;
}
  .profile {
      font-size: 20px;
      padding-left: 10px;
      width: auto;
      color: red;
  }

  .name {
      color: skyblue;
      padding-left: 10px;
      font-size: 40px;
  }
 
